@model List<Article.Dto.Entity.PostUserDto>
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Shared/_Layout_Site.cshtml";
}
@section breadCrumb{
    <div>
        <ol class="breadcrumb">
            <li><a href="/site/Index">Anasayfa</a></li>
            @if (Model.Count() > 0)
            {
                <li><a href="/@Article.Utilities.StringManager.ToSlug(Model[0].CategoryName)-@Model[0].CategoryId">@Model[0].CategoryName</a></li>
            }
        </ol>
    </div>
}

<div class="row row-margin-bottom">
    @if (Model.Count() <= 0)
    {
        <h3 class="text-center">Bu kategoriye ait makale bulunamadı</h3>
    }
    else
    {
        <div id="loadMoreList"></div>
        foreach (var item in Model)
        {
            <div class="col-md-5 lib-item" style="margin-right:20px;">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="col-md-6">
                            <img class="lib-img-show" src="@item.PostImageUrl" style="height:190px;">
                        </div>
                        <div class="col-md-6">
                            <div class="lib-row lib-header">
                                <a href="/@item.Id/@Article.Utilities.StringManager.ToSlug(item.CategoryName)/@item.Slug-@item.CategoryId">
                                    @item.Title
                                </a>
                                <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-desc">
                                @item.ShortDescription
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@using (Ajax.BeginForm("LoadMore", "Site", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "loadMoreList", InsertionMode = InsertionMode.InsertAfter }))
{
    <input type="submit" class="btn btn-default" value="Daha fazla göster" style="width:100%" />
}



